---
---

@import "{{ site.theme }}";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

em {
    font-weight: bold;
}

.todo {
    background: yellow;
}

.note {
	background-color: #e7f3fe;
	border-left: 1px solid #2196F3;
	border-right: 1px solid #2196F3;
    padding: 10px 20px;
    margin: 20px 20px ;
}


.important {
	background-color: #ffffcc;
    padding: 10px 20px;
    margin: 15px 20px;
}

/** // 	border-left: 1px solid #2196F3;
    // 	border-right: 1px solid #2196F3; **/
